.row {
    display: flex;
}
.col {
    flex: 1;
    background-color: rgb(243, 196, 152);
    padding: 20px;
    margin: 10px;
}
.col-2 {
    flex: 2;
    background-color: rgb(247, 171, 101);
    padding: 20px;
    margin: 10px;
}
.col-3 {
    flex: 3;
    background-color: rgb(247, 126, 14);
    padding: 20px;
    padding: 20px;
    margin: 10px;
}